/*
	CONTENTS
	
	reset
	global
	text
	lists
	tables
	forms
	images
	layout
*/

/* reset */

body,
div,
fieldset,
form,
html,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
textarea,
td,
th,
ul
{
	margin: 0;
	padding: 0;
}

/* global */

body
{
	background: #fff;
	color: #000;
	font-family: Verdana;
	font-size: 11px;
}

/* text */

a
{
	color: #0000ff;
	text-decoration: none;
}

	a:hover 
	{
		text-decoration: underline;
	}

h1
{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

h2
{
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 20px;
}

h3
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

h4
{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}

h5
{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

p
{
	margin-bottom: 10px;
}

/* lists */

ol, ul 
{
	margin: 0 0 10px 30px;
}

	li ol,
	li ul, 
	li ol li ol,
	li ol li ul,
	li ul li ol, 
	li ul li ul
	{
		margin-bottom: 0;
	}

li
{
	margin-bottom: 5px;
}

/* tables */

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

td, th
{
	padding: 2px 5px;
	text-align: left;
}

th
{
	font-weight: bold;
}

/* forms */

.error
{
	color: #ff0000;
}

fieldset
{
	border: 1px solid #000;
	padding: 25px;
}

input.textbox
{
	width: 200px;
}

input.textbox-small
{
	width: 50px;
}

legend
{
	border: 1px solid #000;
	padding: 2px;
}

textarea
{
	width: 200px;
	height: 300px;
}

/* images */

img
{
	border: 0;
}

/* layout */

#container
{
	margin: 30px auto;
	width: 960px;
}

#page
{
	float: left;
	width: 960px;
}

#header
{
	float: left;
	width: 960px;
}

#main
{
	float: left;
	width: 960px;
}

#footer
{
	float: left;
	width: 960px;
}